/* =====================
   BASE
===================== */
.booking-bar {
  background: #ffffff !important;
  border-radius: 30px;
 
}

/* =====================
   INPUTS
===================== */

.form-select,
.react-datepicker-wrapper input {
  background-color: transparent !important;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 8px;
  
}

.form-select:focus,
.react-datepicker-wrapper input:focus {
  border-bottom: 2px solid #3a4d39 !important;
  box-shadow: none !important;
}

.input-group-text {
  border-radius: 8px 0 0 8px;
  color: #4a5546;
}

/* =====================
   DATE PICKER FIX
===================== */
.react-datepicker-wrapper {
  width: 100%;
  
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker-wrapper input {
  padding: 4px 3px  ;
  border: none;
  background: #f9f9f9;
}

.react-datepicker-wrapper input:focus {
  background-color: #eef1ee;
}

.date-input {
  padding-left: 6px;
  background: transparent;
}

/* Icon size */
.input-group-text svg {
  font-size: 20px;
  color: #4a5546;
}

/* =====================
   DESKTOP ONLY (≥992px)
===================== */
@media (min-width: 992px) {
  .booking-bar {
    border-radius: 150px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08) !important;
     margin-top: -90px;
  margin-bottom: 30px;
  }
  .form{
  margin-left: 40px;
  
}
}

.btn-dark {
  background-color: #3a4d39;
  border: none;
  transition: all 0.3s ease;
}

.btn-dark:hover {
  background-color: #2e3d2c;
  transform: translateY(-2px);
}