/* Reveal animation */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}
.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

/* Wrapper */
.contact-wrapper {
  background: #e7e4e4;
}

/* Headers */
.section-header {
  padding: 16px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}

/* LEFT FORM */
.bg-form {
  background: #e1e1e1;
}
 .input-box {
  display: flex;
  align-items: center;
  background: #fff;
  /* border: 1.5px solid #444; */
  padding: 12px 14px;
  border-radius: 12px;
  gap: 12px;
  position: relative;
}

/* Icon */
.input-icon {
  color: #555;
  font-size: 15px;
}

/* Vertical divider */
.input-box::after {
  content: "";
  width: 1px;
  height: 22px;
  background: #ccc;
  position: absolute;
  left: 44px;          /* icon ke baad */
}

/* Input */
.input-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding-left: 12px;  /* divider se gap */
}

 

.input-box:hover,
.input-box:focus-within {
  border-color: #2a3327;
  box-shadow: 0 0 0 3px rgba(16, 26, 13, 0.15);
  transition: all 0.3s ease;
}

.input-box svg {
  color: #444;
  font-size: 14px;
}

.input-box input {
  border: none;
  outline: none;
  flex: 1;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.message-box {
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 14px;
  resize: none;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  outline: none;
}

/* Button */
.submit-btn {
  background: #4a5546;
  color: #fff;
  padding: 10px 34px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}
.submit-btn:hover {
  background: #3e473a;
  transform: translateY(-2px);
}

/* MAP */
.bg-map {
  background: #dcdcdc;
}

.map-area {
  position: relative;
  height: 100%;
}

.map-area iframe {
  width: 100%;
  height: 100%;
  min-height: 460px;
  border: 0;
  filter: grayscale(10%) contrast(105%);
}

/* Map Card */
.map-card {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #fff;
  padding: 14px 16px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  max-width: 260px;
}

.map-card h6 {
  margin-bottom: 4px;
  color: #4a5546;
  font-weight: 700;
}

.map-card p {
  font-size: 13px;
  margin-bottom: 4px;
  color: #666;
}

.map-card span {
  font-size: 12px;
  font-weight: 600;
}
